@charset "UTF-8";
/** 
 * GameLogs 2024
 * Paweł Szabunio
 * Uniwersytet WSB Merito
 */
* {
  font-family: "Lato", sans-serif;
  font-style: normal;
}
* ::-moz-placeholder {
  color: var(--5-color);
}
* ::placeholder {
  color: var(--5-color);
}
* a {
  color: var(--5-color);
  text-decoration: none;
}
* a:hover {
  color: #bdbdff;
}

html {
  color-scheme: dark;
}

[data-color-scheme=dark] {
  color-scheme: dark;
}

[data-color-scheme=light] {
  color-scheme: light;
}

:root {
  --1-color: rgb(44, 44, 44);
  --2-color: #3b3b3bee;
  --3-color: #333333;
  --4-color: #1d1d1d;
  --5-color: rgb(219, 219, 219);
  --6-color: #444444;
  --7-color: #181818;
  --8-color: #1b1b1b;
}

.lightTheme {
  --1-color: #919191f8;
  --2-color: #b8b8b8ee;
  --3-color: #999999;
  --4-color: #525252;
  --5-color: #1d1d1d;
  --6-color: #bdbdbd;
  --7-color: #525252;
  --8-color: #6b6b6b;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--1-color);
  background-size: cover;
  color: var(--5-color);
}

header {
  position: sticky;
  top: 0em;
  z-index: 2;
}
header .navbar nav {
  text-align: center;
  background-color: var(--2-color);
  padding: 0.1em;
  margin-bottom: 1.875em;
}
header .navbar nav ul {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0;
}
header .navbar nav ul .gameLogs {
  color: var(--5-color);
  text-align: left;
  font-size: 1.7em;
  border-radius: 10px;
  padding: 0.08em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  box-shadow: 0.2em 0.2em var(--4-color);
  background-color: var(--3-color);
  margin-right: 1em;
}
header .navbar nav ul .gameLogs:hover {
  cursor: pointer;
  color: #bdbdff;
  box-shadow: 0.15em 0.15em #bdbdff;
}
header .navbar nav ul .mainUl {
  margin: auto;
  border-radius: 10px;
  padding: 0.4em;
  box-shadow: 0.3em 0.3em var(--4-color);
  background-color: var(--3-color);
  margin-left: 0.5em;
  margin-left: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}
header .navbar nav ul .mainUl:hover {
  cursor: pointer;
  color: #bdbdff;
  box-shadow: 0.15em 0.15em #bdbdff;
}
header .navbar nav ul li {
  display: inline-block;
}
header .navbar nav ul #icon {
  width: 20px;
  margin-left: 2.1em;
  margin-bottom: -5px;
}
header .navbar nav ul #icon:hover {
  cursor: pointer;
}
header .navbar nav ul #iconCart {
  width: 20px;
  margin-left: 1em;
  margin-bottom: -5px;
}
header .navbar nav ul #iconCart:hover {
  cursor: pointer;
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main section .gameContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
main section .game {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 12.5%;
}
main section .game .gamePhotos {
  width: 160px;
  height: 185px;
  border-radius: 25px;
  opacity: 100%;
  box-shadow: 0.7em 0.7em var(--8-color);
  margin-top: 1em;
}
main section .game .gamePhotos:hover {
  z-index: 1;
  box-shadow: 0.5em 0.5em rgba(189, 189, 255, 0.7725490196);
}
main section .containerPriceTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding-bottom: 1em;
}
main section .containerPriceTitle .priceHolder {
  border-radius: 15px;
  background-color: var(--7-color);
  margin: 10px;
  text-align: center;
}
main section .containerPriceTitle .priceHolder .pPrice {
  padding-top: 2px;
  word-spacing: 2px;
  margin: 0;
  text-align: center;
  font-size: 15px;
  color: rgb(219, 219, 219);
}
main section .containerPriceTitle .priceHolder .addToCart {
  font-size: 15px;
  background-color: var(--6-color);
  color: var(--5-color);
  border: none;
  padding-top: 5px;
  border-radius: 25px;
  padding-bottom: 5px;
}
main section .containerPriceTitle .priceHolder .addToCart:hover {
  cursor: pointer;
  color: #1d1d1d;
  background-color: #bdbdff;
}
main section #cart {
  color: var(--5-color);
  position: fixed;
  top: 62px;
  right: 0px;
  background-color: var(--2-color);
  z-index: 2000;
  padding: 10px;
  display: none;
  max-height: 400px;
  width: 400px;
  overflow-y: auto;
}
main section #cart #shopTitle {
  font-size: 24px;
}
main section #cart #cartItems {
  font-size: 20px;
}
main section #cart #totalPriceFinal {
  font-size: 24px;
  color: #77ff77;
  font-weight: bold;
}
main section #cart #checkoutButton {
  font-size: 15px;
  background-color: var(--7-color);
  color: rgb(219, 219, 219);
  border: none;
  padding-top: 5px;
  border-radius: 25px;
  padding-bottom: 5px;
}
main section #cart #checkoutButton:hover {
  cursor: pointer;
  color: #1d1d1d;
  background-color: #bdbdff;
}

#footer .containerFooter {
  width: 100%;
  background-color: var(--2-color);
  padding-top: 0.5em;
  padding-bottom: 0.9em;
  position: absolute;
}
#footer .containerFooter #pFooter {
  width: 45%;
  word-spacing: 2px;
  background-color: var(--3-color);
  margin: auto;
  text-align: center;
  color: var(--5-color);
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0.4em 0.4em var(--4-color);
}
#footer .containerFooter #pFooter:hover {
  box-shadow: 0.25em 0.25em #bdbdff;
}
#footer .containerFooter #pFooter #footerGameLogs:hover {
  color: #bdbdff;
  cursor: pointer;
}
#footer .containerFooter #pFooter .contactIcons {
  margin-left: 0.5em;
  margin-bottom: -7px;
  width: 25px;
  opacity: 60%;
}
#footer .containerFooter #pFooter .contactIcons:hover {
  opacity: 100%;
}
#footer .containerFooter #pFooter #fbLeft {
  margin-left: 1em;
}

@media (max-width: 1024px) {
  main section .gameContainer .game {
    flex-basis: 25%;
  }
}
@media (max-width: 768px) {
  main section .gameContainer .game {
    flex-basis: 50%;
  }
}
@media (min-width: 2500px) {
  main section .gameContainer {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 3840px) {
  main section .gameContainer {
    margin-left: 120px;
    margin-right: 120px;
  }
}
@media (min-width: 1800px) {
  main section .gameContainer {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 603px) {
  #iconCart {
    margin-top: 20px;
  }
  #cart {
    margin-top: 43.5px;
    max-width: 300px;
  }
  #footer .containerFooter #pFooter {
    width: 65%;
  }
}
article {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  margin-bottom: 55px;
  margin-top: 55px;
}

.containerSlider {
  max-width: 90%;
  width: 90%;
}

.sliderButton {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

.imageItem {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

.imageItem:hover {
  cursor: pointer;
}

.sliderButton {
  border: none;
  box-shadow: 0.2em 0.2em var(--7-color);
}

.sliderWrapper .sliderButton {
  bottom: -270px;
  position: absolute;
  height: 40px;
  width: 40px;
  font-size: 20px;
  background-color: var(--6-color);
  color: var(--5-color);
  cursor: pointer;
  border-radius: 10px;
}

.sliderWrapper .sliderButton#previousSlide {
  left: 30px;
  display: none;
}

.sliderWrapper .sliderButton#nextSlide {
  right: 30px;
}

.sliderWrapper .imageList {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(18, 1fr);
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 20px;
}

.sliderWrapper .imageList::-webkit-scrollbar {
  display: none;
}

.sliderWrapper .imageList .imageItem {
  width: 325px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.containerSlider .sliderScrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sliderScrollbar .scrollbarTrack {
  height: 4px;
  width: 100%;
  background: var(--4-color);
  position: relative;
  border-radius: 4px;
}

.sliderScrollbar:hover .scrollbarTrack {
  height: 6px;
}

.sliderScrollbar .scrollbarThumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #bdbdff;
  border-radius: inherit;
  cursor: grab;
}

.sliderScrollbar .scrollbarThumb:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.sliderScrollbar .scrollbarThumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

@media (max-width: 1023px) {
  .sliderWrapper .sliderButton {
    display: none !important;
  }
  .sliderWrapper .imageList {
    gap: 10px;
    margin-bottom: 15px;
  }
  .sliderWrapper .imageList .imageItem {
    width: 280px;
    height: 380px;
  }
  .sliderScrollbar .scrollbarThumb {
    width: 20%;
  }
}
aside .cartTab {
  width: 480px;
  background-color: black;
  color: var(--5-color);
  position: fixed;
  inset: 0 0 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
}
aside .cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
aside .cartTab .btnShop {
  background-color: var(--6-color);
}

.whiteScroll::-webkit-scrollbar {
  border-left: 1px solid black;
}

.whiteScroll::-webkit-scrollbar-track {
  background-color: white;
}

.whiteScroll::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

.darkScroll {
  background-color: #303030;
}

.darkScroll::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.darkScroll::-webkit-scrollbar-thumb {
  background-color: black;
}

#diceHolder {
  padding: 0;
  background-color: var(--1-color);
}

#numberColor {
  color: #bdbdff;
  background-color: var(--4-color);
}

.diceWrapper {
  font-family: "Montserrat", sans-serif;
}

#rng {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: var(--5-color);
  font-size: 155px;
}

#diceAnimation:before {
  font-size: 130px;
  content: "⚀";
  animation: animate infinite 10s linear;
  animation-delay: 0.2s;
  color: rgb(99, 99, 99);
}

@keyframes animate {
  0% {
    content: "⚀";
    color: rgb(99, 99, 99);
  }
  10% {
    content: "⚅";
    color: white;
  }
  20% {
    content: "⚁";
    color: rgb(99, 99, 99);
  }
  30% {
    content: "⚄";
    color: white;
  }
  40% {
    content: "⚂";
    color: rgb(99, 99, 99);
  }
  50% {
    content: "⚃";
    color: white;
  }
  60% {
    content: "⚅";
    color: rgb(99, 99, 99);
  }
  70% {
    content: "⚀";
    color: white;
  }
  80% {
    content: "⚃";
    color: rgb(99, 99, 99);
  }
  90% {
    content: "⚂";
    color: white;
  }
}
#diceInputWrapper {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#text {
  color: var(--5-color);
}

#diceButton {
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
  background-color: var(--8-color);
  color: var(--8-color);
  border: none;
  outline: auto;
}

#diceButtonWrapper {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#diceButton:active {
  color: var(--5-color);
  background-color: rgb(99, 99, 99);
}

#maxNum {
  background-color: rgb(99, 99, 99);
  color: var(--5-color);
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  width: 100px;
  text-align: center;
  outline: none;
}/*# sourceMappingURL=style.css.map */